@use 'variables' as v ;

html {
  font-size: 62.5%;
}

body {
  background-color: v.$black;
  font-size: 1.6rem;
  font-family: v.$primaryFont;
  font-weight: 400;
  color: v.$white;
}

.container {
  max-width: 140rem;
  width: 95%;
  margin-inline: auto ;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,h2{
  font-weight: 400;
}