/// Colors
$black: #000;
$white: #fff;
$gray: #adadad;
$bgGray: #2e3038;
$btnC: rgb(255, 241, 52);


// Media Queries
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;

// Typography
  $primaryFont: 'Inter', sans-serif;
  $secondaryFont: 'Prata', serif;